//Sub Title
.sub-title-bar {
  margin-top: 40px;
  @include boxSize(80px, 100%);
  @include flexIt(center, center);


  .sub-title-block {
    @include boxSize(100%, 550px);
    @include flexIt(center, center);

    @include eightBit;
    background: blue;
    border: 20px double red;

    font-size: 70px;
  }
}

//Content
.main-bar {
  margin-top: 40px;
  @include boxSize(550px, 100%);
  @include flexIt(space-around, stretch);


  .main-block {
    @include boxSize(100%, 25%);


    .image-block {
      @include boxSize(85%, 100%);
      background-color: white;
    }


    .button-block {
      @include boxSize(15%, 100%);
      @include flexIt(center, center);

      @include eightBit;
      font-size: 70px;
      background: black;
    }
  }
}

.wrap {
  @include boxSize(100%, 100%);
}

.wrap:hover {
  border: 10px solid blue;
}

//Images
.human-image {
  background-image: url("./images/human.jpg");
  background-size: cover;
  background-position: center center;
}

.elf-image {
  background-image: url("./images/elf.jpg");
  background-size: cover;
  background-position: center top;
}

.dwarf-image {
  background-image: url("./images/dwarf.jpg");
  background-size: cover;
  background-position: center center;
}