//Images
.paladin-image {
  background-image: url("./images/paladin.jpg");
  background-size: cover;
  background-position: center center;
}

.wizard-image {
  background-image: url("./images/wizard.png");
  background-size: cover;
  background-position: center center;
}

.rogue-image {
  background-image: url("./images/rogue.jpg");
  background-size: cover;
  background-position: center center;
}