//Sub Title
.sub-title-bar {
  margin-top: 75px;
  @include boxSize(80px, 100%);
  @include flexIt(center, center);


  .sub-title-block {
    @include boxSize(100%, 530px);
    @include flexIt(center, center);

    @include eightBit;
    background: blue;
    border: 10px solid red;

    font-size: 70px;
  }
}

//Content
.main-bar {
  margin-top: 75px;
  @include boxSize(450px, 100%);
  @include flexIt(space-around, stretch);


  .main-block {
    @include boxSize(100%, 25%);
  

    .image-block {
      margin-top: 3px;
      @include boxSize(80%, 100%);
      background-color: black;
    }


    .button-block {
      margin-top: 3px;
      @include boxSize(17%, 100%);
      @include flexIt(center, center);

      @include eightBit;
      font-size: 70px;
      background: black;
    }
  }
}

//Images
.paladin-image {
  background-image: url("./images/paladin.jpg");
  background-size: cover;
  background-position: center center;
}

.wizard-image {
  background-image: url("./images/wizard.png");
  background-size: cover;
  background-position: center center;
}

.rogue-image {
  background-image: url("./images/rogue.jpg");
  background-size: cover;
  background-position: center center;
}