@mixin flexIt($justify, $align) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@mixin boxSize($height, $width) {
  height: $height;
  width: $width;
}

@mixin eightBit {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  overflow: hidden;
  border: none;
  font: normal 100px/1 "VT323", Helvetica, sans-serif;
  color: rgba(255,255,0,1);
  text-align: center;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  text-shadow: 5px 5px 0 red;
}