//Content Blocks
    .pic-block {
      @include boxSize(35%, 100%);
    }

    .log-block {
      @include boxSize(50%, 100%);
      @include flexIt(center, center);
      @include eightBit;
      font-size: 55px;
    }

    .log-block2 {
      @include boxSize(30%, 100%);
      @include flexIt(center, center);
      @include eightBit;
      font-size: 55px;
      margin-bottom: 20px;
    }

    .stat-button {
      margin-top: 10px;
      @include boxSize(15%, 100%);
      @include flexIt(center, center);

      .button-bar {
        @include boxSize(100%, 100%);
        @include flexIt(center, center);
        @include eightBit;
        font-size: 70px;
        background-color: black;
      }
      .button-bar:hover {
        background: blue;
      }
    }

    .stat-bar {
      @include boxSize(15%, 100%);
      @include flexIt(center, center);
      @include eightBit;
      font-size: 55px;
      background-color: black;
    }

//Images
.hero-pic {
  background-image: url("./images/hero.png");
  background-size: 70%;
  background-position: center center;
  background-repeat: no-repeat;
}

.enemy-pic {
  background-image: url("./images/enemy.jpg");
  background-size: 60%;
  background-position: center center;
  background-repeat: no-repeat;
}