@import "./styles/_reset.scss";
@import "./styles/_variables.scss";
@import "./styles/_mixins.scss";

@import "./components/Landing/_Landing.scss";
@import "./components/Race/_Race.scss";
@import "./components/Class/_Class.scss";
@import "./components/Character/_Character.scss";
@import "./components/Battleground/_Battleground.scss";

body {
  @include boxSize(100vh, 100vw);
  background-color: black;
  overflow: hidden;
  font-family: sans-serif;
}