html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.title-bar {
  margin-top: 20vh;
  height: 20vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center; }
  .title-bar .title-block {
    height: 100%;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    overflow: hidden;
    border: none;
    font: normal 100px/1 "VT323", Helvetica, sans-serif;
    color: yellow;
    text-align: center;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    text-shadow: 5px 5px 0 red;
    background: blue;
    border: 20px double red;
    font-size: 130px; }

.start-bar {
  margin-top: 20vh;
  height: 20vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center; }
  .start-bar .start-block {
    margin-top: 3px;
    height: 100%;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    overflow: hidden;
    border: none;
    font: normal 100px/1 "VT323", Helvetica, sans-serif;
    color: yellow;
    text-align: center;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    text-shadow: 5px 5px 0 red;
    font-size: 70px;
    background: black; }
  .start-bar .start-block:hover {
    background-color: blue; }

.sub-title-bar {
  margin-top: 40px;
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }
  .sub-title-bar .sub-title-block {
    height: 100%;
    width: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    overflow: hidden;
    border: none;
    font: normal 100px/1 "VT323", Helvetica, sans-serif;
    color: yellow;
    text-align: center;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    text-shadow: 5px 5px 0 red;
    background: blue;
    border: 20px double red;
    font-size: 70px; }

.main-bar {
  margin-top: 40px;
  height: 550px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: stretch; }
  .main-bar .main-block {
    height: 100%;
    width: 25%; }
    .main-bar .main-block .image-block {
      height: 85%;
      width: 100%;
      background-color: white; }
    .main-bar .main-block .button-block {
      height: 15%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      display: inline-block;
      -webkit-box-sizing: content-box;
      -moz-box-sizing: content-box;
      box-sizing: content-box;
      overflow: hidden;
      border: none;
      font: normal 100px/1 "VT323", Helvetica, sans-serif;
      color: yellow;
      text-align: center;
      -o-text-overflow: ellipsis;
      text-overflow: ellipsis;
      text-shadow: 5px 5px 0 red;
      font-size: 70px;
      background: black; }

.wrap {
  height: 100%;
  width: 100%; }

.wrap:hover {
  border: 10px solid blue; }

.human-image {
  background-image: url("./images/human.jpg");
  background-size: cover;
  background-position: center center; }

.elf-image {
  background-image: url("./images/elf.jpg");
  background-size: cover;
  background-position: center top; }

.dwarf-image {
  background-image: url("./images/dwarf.jpg");
  background-size: cover;
  background-position: center center; }

.paladin-image {
  background-image: url("./images/paladin.jpg");
  background-size: cover;
  background-position: center center; }

.wizard-image {
  background-image: url("./images/wizard.png");
  background-size: cover;
  background-position: center center; }

.rogue-image {
  background-image: url("./images/rogue.jpg");
  background-size: cover;
  background-position: center center; }

.half-block {
  height: 100%;
  width: 45%;
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  overflow: hidden;
  border: none;
  font: normal 100px/1 "VT323", Helvetica, sans-serif;
  color: yellow;
  text-align: center;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  text-shadow: 5px 5px 0 red;
  font-size: 50px; }
  .half-block .info-bar-small {
    padding: 0 20px 0 20px;
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .half-block .info-bar-small .input-line {
      height: 35px;
      width: 40%;
      font-family: Courier;
      color: #33ff66;
      background-color: black; }
  .half-block .info-bar-large {
    height: 35%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center; }
    .half-block .info-bar-large .next-block {
      margin-top: 3px;
      height: 100%;
      width: 200px;
      display: flex;
      justify-content: center;
      align-items: center;
      display: inline-block;
      -webkit-box-sizing: content-box;
      -moz-box-sizing: content-box;
      box-sizing: content-box;
      overflow: hidden;
      border: none;
      font: normal 100px/1 "VT323", Helvetica, sans-serif;
      color: yellow;
      text-align: center;
      -o-text-overflow: ellipsis;
      text-overflow: ellipsis;
      text-shadow: 5px 5px 0 red;
      font-size: 70px;
      background: black; }
    .half-block .info-bar-large .next-block:hover {
      background-color: blue; }

.hero-image {
  background-image: url("./images/character.jpg");
  background-size: cover;
  background-position: center center; }

.pic-block {
  height: 35%;
  width: 100%; }

.log-block {
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  overflow: hidden;
  border: none;
  font: normal 100px/1 "VT323", Helvetica, sans-serif;
  color: yellow;
  text-align: center;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  text-shadow: 5px 5px 0 red;
  font-size: 55px; }

.log-block2 {
  height: 30%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  overflow: hidden;
  border: none;
  font: normal 100px/1 "VT323", Helvetica, sans-serif;
  color: yellow;
  text-align: center;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  text-shadow: 5px 5px 0 red;
  font-size: 55px;
  margin-bottom: 20px; }

.stat-button {
  margin-top: 10px;
  height: 15%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }
  .stat-button .button-bar {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    overflow: hidden;
    border: none;
    font: normal 100px/1 "VT323", Helvetica, sans-serif;
    color: yellow;
    text-align: center;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    text-shadow: 5px 5px 0 red;
    font-size: 70px;
    background-color: black; }
  .stat-button .button-bar:hover {
    background: blue; }

.stat-bar {
  height: 15%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  overflow: hidden;
  border: none;
  font: normal 100px/1 "VT323", Helvetica, sans-serif;
  color: yellow;
  text-align: center;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  text-shadow: 5px 5px 0 red;
  font-size: 55px;
  background-color: black; }

.hero-pic {
  background-image: url("./images/hero.png");
  background-size: 70%;
  background-position: center center;
  background-repeat: no-repeat; }

.enemy-pic {
  background-image: url("./images/enemy.jpg");
  background-size: 60%;
  background-position: center center;
  background-repeat: no-repeat; }

.end-message {
  margin-top: 50px;
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  overflow: hidden;
  border: none;
  font: normal 100px/1 "VT323", Helvetica, sans-serif;
  color: yellow;
  text-align: center;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  text-shadow: 5px 5px 0 red;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  color: white; }

.end-message {
  margin-top: 50px;
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  overflow: hidden;
  border: none;
  font: normal 100px/1 "VT323", Helvetica, sans-serif;
  color: yellow;
  text-align: center;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  text-shadow: 5px 5px 0 red;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  color: white; }

body {
  height: 100vh;
  width: 100vw;
  background-color: black;
  overflow: hidden;
  font-family: sans-serif; }
