//Main Title
.title-bar {
  margin-top: 20vh;
  @include boxSize(20vh, 100vw);
  @include flexIt(center, center);


  .title-block {
    @include boxSize(100%, 60%);
    @include flexIt(center, center);

    @include eightBit;
    background: blue;
    border: 10px solid red;
    font-size: 130px;
  }
}

//Start Button
.start-bar {
  margin-top: 20vh;
  @include boxSize(20vh, 100vw);
  @include flexIt(center, center);


  .start-block {
    margin-top: 3px;
    @include boxSize(100%, 200px);
    @include flexIt(center, center);

    @include eightBit;
    font-size: 70px;
    background: black;
  }
}